@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.registration-logo img{
    width:127.94px;
    height:47.39px;
     position:relative;
     top:31.89px;
     left:52.22px;
}

.main-center{
    position:relative;
    top:80px;
}

.congratulations img{
    width:60px;
    height:60px;
}
.Redirection{
    position:relative;
    top:390px;
}
.congratulations h2{
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:36px;

}
.close
{
    display:flex;
    justify-content :space-between;
}

.success{
    font-family: "Manrope", sans-serif;
  font-size: 56px;
  font-weight:600;
  font-style: normal;
  color:#1C1C1C;
}
.success p{
    color:#727272;
    font-family: "Manrope", sans-serif;
  font-size: 27px;
  font-weight:500;
  font-style: normal;
}
.section{
    position:relative;
    top:90px;
}
.section p{
    font-family: "Manrope", sans-serif;
    color:#1C1C1C;
}
.main-registration input{
    color:#000000;
    font-family: "Manrope", sans-serif;
    font-size: 20px;
  font-weight:500;
  font-style: normal;
  
}